body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#video-container {
  position: relative;
}

#video {
  width: 720px;
  height: 560px;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

.mute-button, .record-button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}